In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('trainData.csv')

In [5]:
df.head()

    1  2  3   4   5     6  7  8  9  10
0   3  1  1   3   2   1.0  1  1  1   2
1   7  9  4  10  10   3.0  5  3  3   4
2   5  2  4   1   1   1.0  1  1  1   2
3  10  7  7   6   4  10.0  4  1  2   4
4   2  1  1   1   2   1.0  3  1  1   2

In [8]:
df['1'].value_counts()

1     108
5     107
3      81
4      65
10     50
2      42
8      33
6      27
7      21
9      12
Name: 1, dtype: int64

In [12]:
for i in range(1,11):
    print(df[str(i)].value_counts())
    print('*****************')

1     108
5     107
3      81
4      65
10     50
2      42
8      33
6      27
7      21
9      12
Name: 1, dtype: int64
*****************
1     305
10     52
3      39
2      34
4      31
5      26
8      23
6      16
7      14
9       6
Name: 2, dtype: int64
*****************
1     284
10     48
2      47
3      35
4      31
5      27
8      24
6      24
7      19
9       7
Name: 3, dtype: int64
*****************
1     316
3      51
10     45
2      41
4      25
5      20
8      19
6      18
7       9
9       2
Name: 4, dtype: int64
*****************
2     309
3      52
4      39
1      35
6      31
5      29
10     22
8      18
7      10
9       1
Name: 5, dtype: int64
*****************
1.0     332
10.0    104
5.0      25
2.0      21
3.0      20
8.0      16
4.0      13
7.0       7
9.0       6
6.0       2
Name: 6, dtype: int64
*****************
2     132
1     128
3     124
7      51
4      35
5      27
8      19
10     16
6       8
9       6
Name: 7, dtype: int64
*****************
1     353
10     42
3      30
2      30
8      19
6      18
5      18
4      14
7      12
9      10
Name: 8, dtype: int64
*****************
1     454
3      27
2      27
4      10
10      9
8       8
5       5
7       4
6       2
Name: 9, dtype: int64
*****************
2    365
4    181
Name: 10, dtype: int64
*****************

In [55]:
from sklearn.model_selection import train_test_split
X=df.drop('10',axis=1)
y=df['10']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [56]:
from sklearn.neighbors import KNeighborsClassifier

In [57]:
from sklearn.model_selection import GridSearchCV

In [59]:
grid_params={
    'n_neighbors':[1,3,5,7,9,11]
}
gs=GridSearchCV(
    KNeighborsClassifier(),
    grid_params,
    cv=10,
    n_jobs=-1
)
gs.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11]})

In [60]:
gs.best_params_

{'n_neighbors': 7}

In [61]:
gs.score(X_train,y_train)

0.9678899082568807

In [62]:
y_pre=gs.predict(X_test)

In [63]:
accuracy_score(y_test,y_pre)

0.990909090909091

In [64]:
df_test=pd.read_csv('testData.csv')

In [65]:
X=df_test.drop('10',axis=1)
y=df_test['10']

In [66]:
y_preed=gs.predict(X)

In [67]:
from sklearn.metrics import accuracy_score
accuracy_score(y,y_preed)

0.9562043795620438

In [68]:
gs.score(X,y)

0.9562043795620438